<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=Neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TPVTAC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=Neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="conexion" value="Password=tw2000;Persist Security Info=True;User ID=sa;Initial Catalog=IFACTUREMP;Data Source=W0K1E\SQLEXPRESS2008"/>
    <add key="PathLogTexto" value="C:\Program Files\Techni-Web\Logs\"/>
  </appSettings>
</configuration>
